body {
font-family: "Space Mono", monospace;
font-weight: 100;
font-style: normal;
}

.space-mono-regular {
font-family: "Space Mono", monospace;
font-weight: 100;
font-style: normal;
}

.space-mono-bold {
font-family: "Space Mono", monospace;
font-weight: 400;
font-style: normal;
}

.space-mono-regular-italic {
font-family: "Space Mono", monospace;
font-weight: 100;
font-style: italic;
}

.space-mono-bold-italic {
font-family: "Space Mono", monospace;
font-weight: 400;
font-style: italic;
}


/* table {
border: 1px solid darkgrey;
} */

th {
font-weight: 100;
padding: 0 5px;
}