<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>⚾️ Base Boys Club</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <main id="game-report" class="report">
        {% include 'partials/game_header.html' %}
        <nav class="nav-buttons">
            <a class="nav-button" href="{{ scorecard_filename }}">Scorecardd</a>
        </nav>
        <section id="lineup-stats">
            <table>
                <tr>
                    <th>Line Up</th>
                    <th>Pos</th>
                    <th>batSide</th>
                </tr>
                <tr>
                    <td>lastInitName</td>
                </tr>
            </table>
        </section>
    </main>