<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>⚾️ Base Boys Club</title>
    <link rel="stylesheet" href="../styles/report.css">
</head>

<body>
    <main id="game-report" class="report">
        <section class="report-content">
            <header class="game-header">
                <h1 class="final-score">{{ game.final_score }}</h1>
                <div class="team-info">


                    <div class="team-away">
                        <img class="team-logo" src="{{ title.away_logo }}" alt="{{ title.away_name }} logo" width="80">
                        <h2>{{ title.away_name }}</h2>
                    </div>
                    <h1 class="at">@</h1>
                    <div class="team-home">
                        <img class="team-logo" src="{{ title.home_logo }}" alt="{{ title.home_name }} logo" width="80">
                        <h2>{{ title.home_name }}</h2>
                    </div>
                </div>
                <div>
                    <p>Game Start: {{ game.date }} · {{ game.time_et }}</p>
                    <p>Weather: {{ weather.condition }} · {{ weather.temp }} · {{ weather.wind }}</p>
                </div>
                <!-- <p>{{ game.timezone }}</p> -->
            </header>
        </section>
    </main>
</body>

</html>