<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
<link rel="stylesheet" href="../styles/report.css">
</head>
<body>
    <!-- <div id="toronto_blue_jays">Test</div> -->
<main id="game-report" class="report">
    <section class="report-content">
        {{ report_body }}
    </section>
<!-- <section>
    <svg width="120" height="120" viewBox="0 0 120 120">


  <polygon
    points="60,8  112,60  60,112  8,60"
    fill="#e8dfc8"
    stroke="#8B6914"
    stroke-width="2"
  />


  <rect x="52" y="0"   width="16" height="16" transform="rotate(45,60,8)"   fill="white" stroke="#333" stroke-width="1.5"/>
  <rect x="104" y="52" width="16" height="16" transform="rotate(45,112,60)" fill="white" stroke="#333" stroke-width="1.5"/>
  <rect x="0"   y="52" width="16" height="16" transform="rotate(45,8,60)"   fill="white" stroke="#333" stroke-width="1.5"/>


  <polygon points="60,120 52,108 52,100 68,100 68,108" fill="white" stroke="#333" stroke-width="1.5"/>


  <circle cx="60" cy="60" r="5" fill="#C4A35A"/>

</svg>
</section> -->
</main>
</body>
</html>