@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 24px;
    font-family: "IBM Plex Sans", sans-serif;
    background: #f6f6f6;
    color: #222;
}

.report {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
    background: #fff;
    border-radius: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

th {
    background: #eee;
}

details {
    margin: 16px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
}

sub {
    display: block;
    margin-left: 12px;
    color: #555;
}

#toronto_blue_jays {
    background: #134A8E;
    color: #1D2D5C;
    border: 1px solid #E8291C;
}

body {
    background: #134A8E;
}

.final-score,
.team-info,
.team-home,
.team-away {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.team-logo,
h1.at {
    margin: 1em;
}